@import "tailwindcss";

/*@theme {*/
/*  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,*/
/*    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
/*}*/

html,
body {
  /*@apply bg-white dark:bg-gray-950;*/
  @apply bg-white;
  background-color: #ffffff;



  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  font-family: 'Bahnschrift', "Consolas", sans-serif;
}

.default-layout {
  @apply flex flex-col lg:flex-row h-screen w-full;
  .children {
    @apply w-full h-full bg-white pt-12 lg:pt-16;
  }
}

.auth-layout {
  @apply flex flex-col lg:flex-row h-screen w-full;
  .children {
    @apply w-full h-full bg-white;
  }
}

.root {
  isolation: isolate;
}

.glow-circle {
  position: absolute;
  width: 30vw;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  opacity: 0.95;
  z-index: 0;
  filter: blur(300px);
}

.circle-yellow {
  background-color: #FFE500;
  top: 10%;
  right: 10%;
}

.circle-orange {
  background-color: #FF6A00;
  bottom: 10%;
  left: 10%;
}

@media (max-width: 768px) {
  .glow-circle {
    width: 45vw;
    filter: blur(90px);
  }
}

@media (max-width: 480px) {
  .glow-circle {
    width: 60vw;
    filter: blur(70px);
  }
}
